body {
  margin: 0px auto;
  text-align: center;
  background-color: darkorange;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #CCCFFF;
  text-align: center;
  padding: 13px;
  text-transform: uppercase;
  max-height: 44px;
}
